.Player, .Player-video {
    width: 100%;
    height: 100%;
}

.Player {
    position: relative;
}

.Player-video {
    object-fit: cover;
}

.Player-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: red;
}